html, body 
{
  background: #F0F0F0;
  color: black;
  margin: 0;
  padding: 0;
}

body, 
h1, h2, h3, h4, h5, h6
{
  font-family: "Bitstream Vera Sans", "Calibri", "Helvetica", "Arial", sans-serif;
}

body, td, th
{
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6
{
  color: #212224;
  font-weight: bold;
  margin-top: 0;
}

h1 { 
  font-size: 175%; 
}

h2 {
  font-size: 133%; 
  margin: 1em 0;
}

h3 { font-size: 120%; }

.article
{
  background: #FFF;
  padding: 18px;
  padding-bottom: 0;
}

.footer
{
  border-top: solid 1px #d1d2d4;
  color: #000;
  font-size: 82%;
  padding: 14px 0 18px;
  margin: 3em 0 0;
}

a
{
  color: #007DAD;
  cursor: text;
}

img { margin: 0; }
img.align-left { margin: 0 1em 0 0; }
img.align-right { margin: 0 0 0 1em; }

p.align-left { text-align: left; }
p.align-center { text-align: center; }
p.align-right { text-align: right; }
p.align-justify { text-align: justify; }


ul
{
  margin-left:36px;
  padding-left:0;
}

ul li
{
  margin-left:0;
  padding-left:5px;
}

ul p,
ol p,
ul ul,
ul ol,
ol ul,
ol ol
{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ol ol,
ul ol
{
  list-style-type: lower-alpha;
}

ol ol ol,
ul ol ol,
ol ul ol,
ul ul ol
{
  list-style-type: lower-roman;
}


table p
{
  margin:0;
}

table
{
  margin-bottom:0.8em;
}

table.color_blue { background-color:#D2DFF6; }
.color_blue th { background-color:#8FB5FB; color:#0258F5; }
.color_blue tbody.rowcoloring_alternate  tr.evenorodd_even { background-color:#FFFFFF; }

table.color_green { background-color:#F2F6E0; }
.color_green th { background-color:#EAF1BE; color:#619102; }
.color_green tbody.rowcoloring_alternate  tr.evenorodd_even { background-color:#FFFFFF; }

table.color_orange { background-color:#F8EAE1; }
.color_orange th { background-color:#F6B88E; color:#F86401; }
.color_orange tbody.rowcoloring_alternate tr.evenorodd_even { background-color:#FFFFFF; }

table.color_grey { background-color:#ECECEC; }
.color_grey th { background-color:#D9D9D9; color:#444; }
.color_grey tbody.rowcoloring_alternate tr.evenorodd_even { background-color:#FFFFFF; }

table.border_row th,
table.border_row td { border-bottom:solid 1px #CCCCCC; }

table.border_column th,
table.border_column td { border-right:solid 1px #CCCCCC; }

table.border_cell { border:solid #CCCCCC; border-width:1px 0px 0px 1px; }

table.border_cell th,
table.border_cell td { border:solid #CCCCCC; border-width:0px 1px 1px 0px; }

/* Drop-shadow page layout {{{ */
#canvas
{
  background: #F0F0F0;
  padding: 1px;
  margin: 0;
  color: black;
}

#page
{
  margin: 15px;
  border: solid 1px #e9e9e9;
  border-right-color: #DDD;
  border-bottom-color: #DDD;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.6);
}

/* }}} */
